.hero {
  display: grid;
  grid-template-rows: auto max-content;
  height: calc(100dvh - var(--main-y-padding));
}

.hero-cols {
    display: grid;
    grid-template-columns: minmax(32vw, 415px) 1fr;
}