:root {
    --skills-categories-anim-delay: 40s;
}

.marquee-to-left {
  animation: scroll-left var(--skills-categories-anim-delay) linear infinite;
}

.marquee-to-right {
  animation: scroll-right var(--skills-categories-anim-delay) linear infinite;
}

.marquee-container:hover .marquee-to-left,
.marquee-container:hover .marquee-to-right {
  animation-play-state: paused;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}